<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="window window-anim" style="grid-area: a;">
            <div class="profile-pic">
                <button class="socials-entry-btn " id="logout-btn">
                    <img class="socials-entry-img" src="/assets/imgs/logout-icon.png" />
                </button>
                <img src="<%= user.profile_picture %>" alt="Profile Picture" class="dark-text profile-picture">
            </div>

            <div class="profile-header">
                <h2 class="dark-text">  Welcome, <span class="accent-text"><%= user.email %></span></h2>
                <button class="socials-entry-btn " data-id="${user.id}" id="user-settings-btn">
                    <img class="socials-entry-img" src="/assets/imgs/user-settings-icon.png" />
                </button>
            </div>
            <hr />
            <div class="profile">
                <div class="profile-btns">
                    <button class="socials-entry-btn profile-btn window" id="profile-btn">
                        <img class="socials-entry-img" src="/assets/imgs/profile-icon.png" />
                        <hr />
                        <p>Profile</p>
                    </button>
                    <button class="socials-entry-btn profile-btn window"  id="explore-btn">
                        <img class="socials-entry-img" src="/assets/imgs/search-icon.png" />
                        <hr />
                        <p>Explore</p>
                    </button>
                    <button class="socials-entry-btn profile-btn window" id="collection-btn">
                        <img class="socials-entry-img" src="/assets/imgs/collection-icon.png" />
                        <hr />
                        <p>Collection</p>
                    </button>
                    <button class="socials-entry-btn profile-btn window" id="settings-btn">
                        <img class="socials-entry-img" src="/assets/imgs/settings-icon.png" />
                        <hr />
                        <p>Settings</p>
                    </button>
                </div>
            </div>
        </div>

        <div class="window window-anim" style="grid-area: b;">
            <h2 class="dark-text">Explore Books</h2>
            <form method="GET" action="/search">
                <div class="explore">
                    <input type="text" name="query" placeholder="Search books">
                    <select name="sortBy">
                        <option value="intitle" selected >By title</option>
                        <option value="inauthor" >By author</option>
                        <option value="inpublisher" >By publisher</option>
                    </select>
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>

        <div class="window window-anim recent-activity" style="grid-area: c;">
            <div class="gradient"></div>
            <h2 class="dark-text">My Books</h2>
            <% if (books && books.length > 0) { %>
                <div class="book-list recent-books">
                    <% books.forEach(function(book) { %>
                        <a class="book" href="/book/<%= book.id %>">
                            <div class="cover-container">
                                <img class="book-cover" 
                                src="<%= book.cover %>" 
                                alt="<%= book.title %>" />
                                <div class="gradient"></div>
                                <div class="title-container">
                                    <div class="title">
                                        <h3><%= book.title %></h3>
                                    </div>
                                </div>  
                            </div> 
                            <hr />
                            <div class="desc-container">
                                <p class="left"><strong>Author(s)</strong></p>
                                <p class="right"><%= book.author %></p>
                            </div>
                            <div class="desc-container">
                                <p class="left"><strong>Genre(s)</strong></p>
                                <p class="right genre"><%= book.genre %></p>
                            </div>
                            <div class="desc-container">
                                <p class="left"><strong>Published</strong></p>
                                <p class="right"><%= book.publishedYear %></p>
                            </div>
                            <div class="desc-container">
                                <p class="left"><strong>Rating</strong></p>
                                <p class="right"><%= book.rating %></p>
                            </div>
                        </a>
                    <% }); %>
                </div>
            <% } else { %>
                <p>No books saved yet. Start adding some books!</p>
            <% } %>
        </div>

    </div>
    <div></div>
    <script type="module" src="/js/scripts.js"></script>
    <script type="module" src="/js/socialsDisplay.js"></script>
</body>
</html>